
<div class="footermax-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex footer ">
<!-- Footer -->
<footer class=" bg-gray-400 text-gray">
  <div class="">
      <div class="md:flex  ">
          <div class="m-10 ">
              <a [routerLink]="['']">
              <p> © Habermann 2022</p>
            </a>
          </div>
          <div class="m-10 text-gray ml">
              <div >
                  <a class="m-8" target="_blank" href="https://twitter.com/H4nn3s_">
                      <fa-icon [icon]="tw"></fa-icon>
                  </a>
                  <a class="m-8" target="_blank" href="https://www.linkedin.com/in/johannes-habermann-a003b9206/">
                    <fa-icon [icon]="linkedin"></fa-icon>
                  </a>
                  <a class="m-8" target="_blank" href="https://github.com/HanibalEckzahn">
                    <fa-icon [icon]="github"></fa-icon>
                  </a>
                  <a class="m-8" target="_blank" href="https://stackoverflow.com/users/15073262/hanibaleckzahn?tab=profile">
                    <fa-icon [icon]="overflow"></fa-icon>
                  </a>
              </div>
          </div>
          <div class="m-10 ">
              <a class="footer-link" [routerLink]="['datenschutz']">
                  <p >Datenschutz</p>
              </a>
          </div>
          <div class="m-10">
              <a class="footer-link" [routerLink]="['impressum']">
                  <p   >Impressum</p>
              </a>
              </div>
      </div>

  </div>
</footer>

</div>
