
<div class="footer max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex ">
<!-- Footer -->
<footer class=" bg-gray-800 text-white">
  <div class="">
      <div class="md:flex  p-">
          <div class="m-10">
              <p class="">© Habermann 2022</p>
          </div>
          <div class="m-10 text-gray-200">
              <div class="">
                  <a class="m-8" target="_blank" href="https://twitter.com/H4nn3s_">
                      <fa-icon [icon]="tw"></fa-icon>
                  </a>
                  <a class="m-8" target="_blank" href="https://www.linkedin.com/in/johannes-habermann-a003b9206/">
                    <fa-icon [icon]="linkedin"></fa-icon>
                  </a>
                  <a class="m-8" target="_blank" href="https://github.com/HanibalEckzahn">
                    <fa-icon [icon]="github"></fa-icon>
                  </a>
                  <a class="m-8" target="_blank" href="https://stackoverflow.com/users/15073262/hanibaleckzahn?tab=profile">
                    <fa-icon [icon]="overflow"></fa-icon>
                  </a>
                  <a class="m-8"  href="https://habermann-j.de/#">
                      <i class="fab fa-google-plus-g"></i>
                  </a>
              </div>
          </div>
          <div class="m-10">
              <a class="footer-link" href="/datenschutz">
                  <p class="" href="/datenschutz">Datenschutz</p>
              </a>
          </div>
          <div class="m-10">
              <a class="footer-link" href="/impressum">
                  <p class="" href="/impressum" >Impressum</p>
              </a>
              </div>
      </div>

  </div>
</footer>

</div>
