
<section class="abouteme" id="kontakt">
    <div class="w-full relative lg:w-1/2 xl:mt-10 mb-10 2xl:pr-24 2xl:pl-0 xl:pl-12 pl-0">

        <div class="w-full flex flex-col items-center xl:justify-center relative z-20 xl:px-0 px-4 xl:py-0 py-4">
            <div class="w-full 2xl:pl-48 xl:pt-1">
                <h1 class="text-4xl md:text-5xl lg:text-7xl font-bold tracking-wider text-gray-800">Kontakt </h1>
                <div class="w-full md:w-10/12 mt-3">
                      <div class="mt-4 md:mt-8">
                        <h2 class="text-sm md:text-base text-indigo-700 font-semibold">Addresse</h2>
                        <h2 class="text-gray-800 text-base md:text-lg leading-8 tracking-wider mt-2">Tolstoistraße,<br> 17491 Greifswald,<br> Deutschland</h2>
                    </div>
                    <div class="mt-4 md:mt-8">
                        <h2 class="text-sm md:text-base text-indigo-700 font-semibold">E-Mail</h2>
                        <h2 class="text-gray-800 text-base md:text-lg leading-8 tracking-wider mt-2">j.habermann14@gmail.com</h2>
                    </div>
                    <div class="py-5">
                      <a  href="mailto:j.habermann14@gmail.com">
                      <button  type="submit"  class="py-3 md:py-5 px-5 md:px-10 bg-gray-900 text-white hover:opacity-90 ease-in duration-150 text-sm md:text-lg tracking-wider font-semibold" >Mail Senden!</button>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
 </section>



