<section id="aboutme">

  <div class="container flex justify-center mx-auto pt-16 aboutme">
    <div class="xl:w-1/2 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
        <div class="rounded overflow-hidden ">
            <div class="absolute -mt-20 w-full flex justify-center">
                <div class="h-32 w-32">
                    <img src="../../assets/bilder/Bewerbung foto.jpg" alt="" class="rounded-full object-cover h-full w-full shadow-md" />
                </div>
            </div>
            <div class="px-10 mt-16">
                <div class="font-bold text-3xl text-center pb-1">Habermann Johannes</div>
                <p class="text-center text-gray-600 text-base pt-3 font-normal">Hi ich bin Johannes 25 Jahre jung.<br> Vater von 2 wunderschönen Kindern. <br> Ich komme aus dem wunderschönen Greifswald. <br> Ich absolviere derzeit an der <b><a href="https://www.sgd.de/" target="_blank">SGD</a></b> einen Kurs zum <b><a href="https://www.sgd.de/kursseite/gepr-informatikerin-sgd.html" target="_blank">Gepr. Informatiker</a></b>.</p>

            </div>

        </div>
    </div>
  </div>

</section>
