<section id="aboutme">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 h-screen">
      <div class="max-h-96 md:h-screen img-div">
        <img class="w-screen h-screen object-cover rounded-full imgage" src="../../assets/bilder/Bewerbung foto.jpg" alt="">
      </div>
      <div class="flex  p-10">
        <div class="mb-auto mt-auto max-w-lg">
          <h1 class="text-3xl uppercase">Habermann Johannes</h1>
          <p class="font-semibold mb-5">Web Developer</p>
          <p class="text-center text-gray-600 text-base pt-3 font-normal">Hallo ich bin Johannes 25 Jahre jung.<br> Vater von 2 wunderschönen Kindern.<br>  Ich komme aus dem wunderschönen Greifswald.  <br>Ich absolviere derzeit an der <b><a href="https://www.sgd.de/" target="_blank">SGD</a><br></b> einen Kurs zum <b><a href="https://www.sgd.de/kursseite/gepr-informatikerin-sgd.html" target="_blank">Gepr. Informatiker</a></b>.</p>

        </div>
      </div>
    </div>
  </div>

</section>
