<div class="py-20 2xl:px-0 lg:px-12 px-4 2xl:mx-auto 2xl:container">
  <div class="md:flex items-center justify-around  w-full">
      <div class="xl:w-1/3 md:w-1/2 w-full aboute-me">
          <h1 role="heading" class="focus:outline-none md:w-60 font-bold md:text-6xl text-4xl leading-tight text-gray-800">Über<span class="font-normal italic"> Mich </span></h1>
          <p role="contentinfo" class="focus:outline-none text-base leading-6 mt-8 text-gray-600 2xl:pr-24 xl:pr-0 pr-12">Hi ich bin Johannes 25 Jahre jung.<br> Vater von 2 wunderschönen Kindern. <br> Ich komme aus dem wunderschönen Greifswald. <br> Ich absolviere derzeit an der <a href="https://www.sgd.de/" target="_blank">SGD</a> einen Kurs zum <a href="https://www.sgd.de/kursseite/gepr-informatikerin-sgd.html" target="_blank">Gepr. Informatiker</a>.  </p>

      </div>
      <div class="xl:w-4/6 md:w-1/2 w-full xl:pl-48 content-pic">
          <div class="w-full">
              <img [src]="mePic" alt="Habermann Johannes" class="md:w-full sm:w-1/2 w-1/2 bild" />

          </div>
      </div>
  </div>
</div>
