<section id="portfolio">

  <div class="2xl:mx-auto 2xl:container lg:py-16 lg:px-40 xl:px-20 md:py-12 md:px-6 py-9 px-4">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-semibold leading-9 text-gray-800">Portfolio</h1>
        <p class="text-base leading-6 text-center text-gray-600 sm:w-96 md:w-9/12 lg:w-5/12 mt-4">Meine Bisherigen Porjekte </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 lg:gap-x-8 md:gap-6 gap-4 lg:mt-12 md:mt-9 mt-6">



        <div class="relative flex items-center justify-center" *ngFor="let card of cards">
          <img src="{{card.img}}" alt="{{card.imgalt}}" />
          <div class="absolute top-0 flex flex-col w-80 md:w-80 lg:w-80 xl:w-96 h-full items-center justify-between py-10">
              <div class="flex items-center justify-center flex-col h-full">
                  <h2 class="xl:px-10 md:px-2 px-7 text-2xl font-semibold leading-normal text-center {{card.textcolor}}">{{card.title}}</h2>
                  <p class="xl:px-10 md:px-2 px-7 text-base leading-normal text-center {{card.textcolor}} mt-4">{{card.text}}</p>
              </div>
              <div class="px-4 md:w-auto w-full">
                <a target="_blank" href="{{card.buttonlink}}">
                  <button class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 w-full hover:bg-gray-300 transition duration-150 text-base font-medium leading-none text-center text-gray-800 py-4 px-12 bg-white focus:outline-none">Erfahre Sie mehr!</button>
                </a>
              </div>
          </div>
      </div>
    </div>
</div>



</section>

