<!-- NavBar -->
<div class="NavBar flex justify-between  bg-gray-800 items-center w-100" role="banner">

  <a class="m-5" href="#">Habermann</a>
  <div class="flex justify-between items-center ">
    <a class="m-10"  href="https://twitter.com/angular" title="Home">Home  </a>
    <a class="m-10" href="https://youtube.com/angular" title="Dienstleistungen"> Dienstleistungen </a>
    <a class="m-10" href="https://twitter.com/angular" title="Portfolio"> Portfolio </a>
    <a class="m-10" href="https://youtube.com/angular" title="aboutme"> Über mich   </a>
    <a class="m-10" href="https://twitter.com/angular" title="Kontakt"> Kontakt </a>
  </div>
</div>
